body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Cor de fundo do corpo da página */
    margin-top: 2%;
}

.logo {
    position: absolute;
    right: 10px;
    height: 80px;
}

.logo:hover {
    transform: scale(1.05); /* Aumentar o tamanho do card ao passar o mouse sobre ele */
}

/*navegação com icones*/
.sidebar .nav-link i {
    color: #a0264c;
    height: 30px;
      
}

.col-2 {
    flex: 0 0 auto;
    width: 10%;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

/*artista e frase*/
.apresentacao {
    width: 30%;
}
h1 {
    color:aliceblue;
    margin-bottom: 25px;
    margin-top: 50px;
}

.img-artist {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Sombra do card */
}

/*albuns*/
h4 {
    color: #ced4da;
    font-size: 20px;
}

b {
    color: #a0264c;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Sombra do card */
}

.conteudo {
    margin-top: 120px;
}

.card-img-top {
    width: 70%; /* Tamanho da imagem */
    height: 70%; /* Tamanho da imagem */
    border-radius: 10%; /* Tornar a imagem circular */
    margin-top: 15px;
}

.card-title {
    text-align: center;
    font-size: 10px;
    margin-top: -5px;
}

.card {
    border: 1px solid black; /* Cor da borda do card */
    border-radius: 8px; /* Cantos arredondados */
    overflow: hidden; /* Esconder partes da imagem que excedam o card */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Sombra do card */
    transition: transform 0.3s ease; /* Efeito de transição */
    color: #ced4da;
    background-color: rgba(0, 0, 0, 0.8);
    align-items:center;
    height: 150px;
    width: 100%;
}

.card:hover {
    transform: scale(1.05); /* Aumentar o tamanho do card ao passar o mouse sobre ele */
}





@media (max-width: 768px) {
    ul li {
        margin-right: 10px;
    }
}
@media (min-width: 992px) {
    .col-md-4 {
        flex: 0 0 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
    }
}


