/* Estilos para o placeholder */
#conteudo-view input[type="email"]::placeholder,
#conteudo-view input[type="password"]::placeholder {
    color: rgba(255, 255, 255, 1); /* Cor do placeholder com 70% de opacidade */
    text-indent: 10px;
}

/* Estilos base */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1; /* Para enviar a imagem de fundo para trás */
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para garantir que a imagem cubra todo o fundo */
    z-index: -1; /* Para enviar a imagem de fundo para trás */

}

.login {
    position: absolute;
    right: 150px;
    z-index: 1; /* Para manter o conteúdo na frente da imagem de fundo */
    padding: 20px; /* Adicione um preenchimento interno para o conteúdo */
    align-items: center;
    height: 50%;
    
}
#conteudo-view {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9); /* Adicione um fundo semi-transparente para o conteúdo */
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    color: aliceblue;
    
}

#conteudo-view input[type="email"],
#conteudo-view input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 0;
    background-color: #3a3a3a; /* Cor de fundo cinza */
    color: #000; /* Cor do texto preto */
    margin-bottom: 10px; /* Espaçamento inferior */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
    border-radius: 10px;
    color: aliceblue;
}


.logo {
    width: 150px; /* Largura desejada */
    height: auto; /* Altura ajustada automaticamente para manter a proporção original */
    display: block; /* Garante que a logo seja exibida como um bloco */
    margin: 0 auto 20px; /* Margem automática para centralizar horizontalmente e adicionar espaço abaixo */
}

label, input, button {
    display: block; /* Torna os elementos em blocos para que ocupem toda a largura disponível */
    margin: 0 auto; /* Define margens automáticas para centralizar os elementos horizontalmente */
    text-align: center; /* Alinha o texto no centro */
}

input, button {
    margin-top: 10px; /* Adiciona um espaço entre os elementos */
}

.campo {
    position: relative; /* Torna o posicionamento relativo para que possamos posicionar o label dentro */
}

.campo label {
    position: absolute;
    top: 50%;
    left: 40px; /* Ajuste o valor conforme necessário para a posição desejada */
    transform: translateY(-50%);
    color: #fff; /* Cor do texto branco */
    font-size: 12px;
}

button {
    width: 100%; /* Garante que o botão ocupe toda a largura disponível */
    background-color: #a0264c;
    border: 0;
    color: aliceblue;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

.texto {
    text-align: left; /* Alinhar o texto à esquerda */
    color: aliceblue;
}

.texto h1 {
    font-family: 'Poppins', sans-serif; /* Aplicar a fonte Poppins */
    font-size: 50px; /* Aumentar o tamanho da fonte para 24 pixels */
    text-align: left; /* Alinhar o texto ao centro */
    margin-left: 8%;
    margin-top: 15%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adicionar sombra com deslocamento x de 2px, deslocamento y de 2px, raio de desfoque de 4px e cor de sombra com 50% de opacidade */
}

.texto b  {
    color: #a0264c;
}

.cadastro {
    text-align: center; /* Alinhar o texto ao centro */
}

.cadastro a {
    color: #a0264c; /* Cor do link */
}
